<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Seçime Kaç Gün Kaldı?</title>
        <!-- CSS file -->
        <link rel="stylesheet" type="text/css" href="/css/styles.css">
        <!-- favicon -->
        <link rel="shortcut icon" href="/img/favicon.ico" type="image/x-icon">
        <!-- script file -->
        <script src="/js/script.js"></script>
        <!-- fontawesome -->
        <script src="https://kit.fontawesome.com/4912f2ec42.js" crossorigin="anonymous"></script> 
</head>
<body>
