<%- include("header") -%>
<div class="countdown">
    <p class="election-date">Seçim Tarihi: 28.05.2023</p>
    <h1 class="title">İKİNCİ TURA</h1>
    <p class="timer"></p>
    
    <h1>KALDI</h1>
</div>
<%- include("footer") -%>

